

<html>
    <head>
        <style>
            
           
     
            

        </style>
        
        
        
        
        
        <body>
           <div class="jumbotron", id="about_img">
               <h1>Why I love Star Wars</h1>
                <br>
                <p class="tab">The first reason I love Star Wars is because of the creativity involved.
                George Lucas's world is the most diverse universe ever created in my opinion.</p>
                   
                    <p class="tab">Also, "Star Wars gave the world Industrial Light & Magic, arguably the most famous visual effects company to have ever worked on Hollywood productions
                    as George Lucas plugged the gap created by the closure of Fox's own SFX department. And boy was it a good decision - handed the bulk of the film's budget
                    (including vast amounts that went on creating sequences that were ultimately cut), ILM broke the mould of how visual effects could work for a film, having
                    been tasked by the director to produce effects that had never been seen before. Since Star Wars, the company has gone on to work on over 300 films, and
                    reshape the way visual effects are created, but without Lucas' first foray into the Star Wars universe, and the ground-breaking sights like the lightsaber
                    battles and dogfights that now look conventional but which at the time would have been eye-popping."</p>
            </div>
            
            
            
            
        </body>
    </head>
</html>