<html>
    <head>
        <style>
  
        </style>
    </head>
        <body>
         
           <div class="center jumbotron", id="home_img">
            <h1> Star Wars Blog</h1>
            <%= link_to "Sign up now!", '#', class: "btn btn-outline-success btn-lg btn-xlarge" %>
            
            </div>




           

         <!--   <p>
                Welcome! In case you didn't know, this website will allow people from around the globe to share Star Wars ideas! 
                Images, blog posts, and ideas are all encourged. 
                All you have to do is make an account. You can then access the blog! Please be courteous in your postings! 
            </p>
          -->
            
         

            
            
        </body> 
    
</html>






